<% provide(:title, 'Editar Concurso') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@concourse) do |f| %>
      <%#= render 'shared/error_messages' %>

      <%= f.label :name," Nombre" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :url," Url" %>
      <%= f.text_field :url, class: 'form-control' %>

      <%= f.label :initDate, "Fecha Inicio" %>
      <%= f.date_field :initDate, class: 'form-control' %>

      <%= f.label :endDate, "Fecha Fin" %>
      <%= f.date_field :endDate, class: 'form-control' %>

      <%= f.label :description," Descripción" %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :comment," Comentarios" %>
      <%= f.text_field :comment, class: 'form-control' %>

      <%= f.label :winner," Ganador" %>
      <%= f.text_field :winner, class: 'form-control' %>

      <%= f.label :prize," Precio" %>
      <%= f.text_field :prize, class: 'form-control' %>

      <%= f.label :image," Imagen Concurso" %>
      <%= f.file_field :image %>

      <%= f.submit "Actualizar concurso", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>