<% provide(:title, 'Eventos') %>
<h1>Concursos</h1>
<%#= link_to "Crear",new_event_path %>
<%= button_to "Crear concurso", listconcourse_url, method: :get, class: "btn btn-primary" %>
<div class="card-group">
  <div class="container">
    <div class="row">
  <% @concourses.each do |concourse| %>
  <div class="card" >
    <%= image_tag(concourse.image, class: "img-responsive") %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to "Editar",edit_event_path(event)%></h5>
      <p class="card-text"><%= concourse.description %></p>
      <p class="card-text"><%= concourse.prize %></p>
      <div>
      <%= button_to "Editar", edit_concourse_path(concourse), class: "btn btn-primary" %>
      <%= button_to "Eliminar", concourse, method: :delete, class: "btn btn-primary" %>
    </div>
    </div>
  </div>
<% end %>
    </div>
  </div>
</div>