<% provide(:title, 'Eventos') %>
<%#= link_to "Crear",new_event_path %>
<% if logged_in? %>
<%= button_to "Crear concurso", new_concourse_url, method: :get, class: "btn btn-primary" %>
<% end %>
<%= image_tag("musica1.jpg", class: "img-responsive") %>
<h1>Concursos vigentes</h1>
<div class="card-group">
  <div class="container">
    <div class="row">
  <% @concourses.each do |concourse| %>
  <div class="card" >
    <%= image_tag(concourse.image, class: "img-responsive") %>
    <div class="card-body">
      <h5 class="card-title"> <%= link_to concourse.name, concourse_url(concourse) %></h5>
      <p class="card-text"><%= concourse.description %></p>
      <p class="card-text"><%= concourse.prize %></p>
      <div>
      <%= link_to "Editar", edit_concourse_url(concourse), class: "btn btn-primary" %>
      <%= link_to "Eliminar", concourse, method: :delete, class: "btn btn-primary" %>
    </div>
    </div>
  </div>
<% end %>
    </div>
  </div>
</div>